.demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-left: 8px;
  }

#title {
    text-align: center;
}

  .update{
    flex-direction: row;
    margin-bottom: 25px;
  }