<div class="topPart">
  <h1>Mannage Scouts</h1>
  <mat-form-field appearance="fill" style="margin: 15px">
    <mat-label>Event</mat-label>
    <mat-select (selectionChange)="event = $event.value">
      <mat-option *ngFor="let event of events" [value]="event.key">{{
        event.year + " " + event.name
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="margin: 15px">
    <mat-label>Stage</mat-label>
    <mat-select (selectionChange)="stage = $event.value">
      <mat-option value="pr">Practice</mat-option>
      <mat-option value="qm">Qualifications</mat-option>
      <mat-option value="qf">Quarterfinals</mat-option>
      <mat-option value="sf">Semifinals</mat-option>
      <mat-option value="f">Finals</mat-option>
    </mat-select>
  </mat-form-field>

  <button
    (click)="findMissingScouts()"
    mat-raised-button
    color="accent"
    style="margin: 15px"
  >
    Update List
  </button>
</div>
<div class="teams" *ngIf="showMissingTeams">
  <div class="missing">
    <h1 style="color: brown">Missing Scouts</h1>
    <div *ngFor="let team of missingTeams">
      <button mat-raised-button color="warn" style="margin: 5px">
        {{ team }}
      </button>
    </div>
  </div>

  <div class="incorrect">
    <h1 style="color: yellow">Incorrect Scouts</h1>
    <div *ngFor="let team of incorrectTeams">
      <button
        mat-raised-button
        style="
          margin: 5px;
          background-color: yellow;
          color: #212121;
          filter: brightness(85%);
        "
      >
        {{ team }}
      </button>
    </div>
  </div>
</div>
