<mat-form-field appearance="fill" class="content">
  <mat-label *ngIf="widget !== undefined && widget.label !== undefined">{{
    widget.label
  }}</mat-label>
  <textarea
    *ngIf="widget?.rows !== undefined; elee: elseBlock"
    matInput
    type="text"
    (input)="changed($event)"
    matInput
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="{{ widget?.rows }}"
    cdkAutosizeMaxRows="999"
  ></textarea>
  <textarea
    #elseBlock
    matInput
    type="text"
    (input)="changed($event)"
    matInput
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="999"
  ></textarea>
</mat-form-field>
