.root {
  display: flex;
  flex-direction: column;
  max-height: 100%;

  .content {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    flex-grow: 1;
    overflow-y: auto;
  }
}
