.missing {
  text-align: center;
  margin: 5px;
  margin-right: 10rem;
}

.topPart {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.teams {
  display: flex;
  flex-direction: row;
  margin-bottom: auto;
}
.incorrect {
  text-align: center;
  margin: 5px;
  margin-left: 10rem;
}
