.value {
  border-radius: 0;
}

.increment {
  border-radius: 0 50px 50px 0;
}

.decrement {
  border-radius: 50px 0 0 50px;
}

.increment,
.decrement {
  min-width: 35px;
  max-width: 35px;
  padding: 0 8px;
}

.value {
  min-width: 50px;
  max-width: 50px;
}
