button {
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.timer {
  min-width: 85px;
  max-width: 85px;
}

.reset {
  min-width: 35px;
  max-width: 35px;
  padding: 0 8px;
  height: 36px;
}
