.widget-row {
  display: flex;

  .label {
    margin-top: auto;
    margin-bottom: auto;
  }

  .spacer {
    flex-grow: 1;
  }
}

mat-card {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 10px;

  .widget-row:not(:last-child) {
    padding-bottom: 10px;
  }

  &.centered {
    margin-right: auto;
    margin-left: auto;
  }
}

.input:not(:last-child) {
  margin-right: 20px;
}
