.panel {
  width: 150px;
  height: 150px;
  display: inline-block;
  cursor: pointer;
}

#score {
  text-align: left;
  margin-right: 78rem;
  width: 50px;
  display: inline;
}

.background {
  text-align: center;
  background-color: #7e0c2b;
}

.panel:hover {
  box-shadow: inset 0px 0px 0px 8px #7e0c2b;
  box-sizing: border-box;
}
.bottom-right-panel {
  border-bottom-right-radius: 80%;
  background-color: red;
}

.bottom-left-panel {
  border-bottom-left-radius: 80%;
  background-color: blue;
}

.top-right-panel {
  border-top-right-radius: 80%;
  background-color: green;
}

.top-left-panel {
  border-top-left-radius: 80%;
  background-color: yellow;
}

.active {
  background-color: white;
}
